// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.govuk-button {
    background-color: #000;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
   }
   .govuk-button:hover {
    background-color: #444;
   }

  .checklistCard {
    background-color: #FFFFFF;
    width: auto;
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    margin-bottom: 25px;
  }

   //Checklist page box components

   .checklistCheckbox {
    background-color: #FFFFFF;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
    float: right;
   }

   .checklistCardSpacing {
     margin-top: 60px;
     margin-bottom: 60px;
   }

  .govuk-grid-row {
    margin-right: 0;
    margin-left: 0;
  }
  .govuk-grid-column-one-third {
    padding: 0;
  }
  .govuk-grid-column-one-third p, .govuk-grid-column-one-third li {
    font-size: 1rem;
  }

  @media only screen and (max-width: 698px)  {
    .unbrandedFooter {
      // position: fixed;
      padding-top: 0.5%;
      padding-bottom: 3%;
      height: 50px;
      // left: 0;
      // bottom: 0;
      width: 100%;
      background-color: #F0EFEF;
      color: white;
      clear: both;
     }

     .unbrandedJourneyName {
      margin-top: 1%;
      margin-left: 3%;
     }
  
     .unbrandedClearData {
      // margin-left: 16%;
      margin-top: 1%;
      display: block;
     }
  }

  @media only screen and (min-width: 699px) and (max-width: 799px)  {
    .unbrandedFooter {
      // position: fixed;
      padding-top: 1px;
      padding-bottom: 1px;
      height: 40px;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #F0EFEF;
      color: white;
      clear: both;
     }

     .unbrandedJourneyName {
      margin-top: 1%;
      margin-left: 3%;
     }
  
     .unbrandedClearData {
      margin-left: 20%;
     }
  }

  @media only screen and (min-width: 799px)  {
    .unbrandedFooter {
      position: fixed;
      // padding-top: 5%;
      height: 40px;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #F0EFEF;
      color: white;
      clear: both;
      text-align: center;
     }

     .unbrandedJourneyName {
      margin: auto;
      padding-top: 0.5%;
     }
  
     .unbrandedClearData {
      margin-left: 20%;
     }
  }
