
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Have you talked to {{ data['employeeName']|default('your employee', true) }} about how their condition might affect them?
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST">

      {{ govukBackLink({
        text: "Back",
        href: "what-kind-of-illness-or-disability"
      }) }}

      <span class="govuk-caption-xl">Supporting an employee with an illness or disability</span>

      {{ govukRadios({
        idPrefix: "talkedToEmployee",
        name: "talkedToEmployee",
        value: data['talkedToEmployee'],
        fieldset: {
          legend: {
            text: "Have you talked to " + data['employeeName']|default('your employee', true) + " about how their condition might affect them?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: data['talkedToEmployee'] === 'Yes'
          },
          {
            value: "No~/sprint-5/disclose-condition/prototype-C/talking-about-condition",
            text: "No",
            checked: data['talkedToEmployee'] === 'No'
          }
        ]
      }) }}
      
      {{ govukButton({
        text: "Continue"
      }) }}

      <div class="unbrandedFooter">
        <p class="govuk-body unbrandedJourneyName">Employee discloses condition - prototype C
          <span class="govuk-body unbrandedClearData"><a href="/index">Return to homepage</a></span>
        </p>
      </div>

      </form>
    </div>
  </div>

{% endblock %}
