
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
You should keep in touch with your employee while they are absent from work
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
        text: "Back",
        href: "have-you-contacted-employee"
      }) }}

      <span class="govuk-caption-xl">Employee absent due to sickness: what you need to do</span>
      <h1 class="govuk-heading-l">You should keep in touch with your employee while they are absent from work</h1>

      <p class="govuk-body">Your employee has been off work for 6 weeks. It's best to get in touch in the first week they're off work, and then every two weeks until they are ready to return.</p>

      <p class="govuk-body">Staying in regular contact with your employee is the best way to help them come back to work when they are ready.</p>

      <p class="govuk-body">Keeping in contact is a good chance to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>check on the wellbeing of your employee</li>
        <li>see if they need any support</li>
        <li>talk about any relevant updates or changes happening at work</li>
      </ul>

      <br>

      {{ govukButton({
        text: "Next question",
        href: "confident-communicating-with-employee"
      }) }}
      
    </div>
  </div>

{% endblock %}
