
{% extends "layout.html" %}

{% block pageTitle %}
Support your employee as they return to work {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <a href="" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>

      <h1 class="govuk-heading-l">Support your employee as they return to work</h1>

      <p class="govuk-body-l">You should make any necessary adjustments before your employee returns to work. There are also other ways you can help them in their first week.</p>

      <!--
        Before your employee’s first day
      -->

      <h2 class="govuk-heading-m">Before your employee’s first day</h2>

      <p class="govuk-body">Your employee might feel nervous about returning to work, especially if they’ve been off for a long time.</p>

      <p class="govuk-body">It can be reassuring for your employee if you plan their first day back. Discuss what they will be doing on their first day and week.</p>

      <p class="govuk-body">Ask your employee if they want other people to know about their disability or health condition. If they prefer to keep their condition private, agree with your employee how you will respond to colleagues who may ask you about the absence.</p>

      <p class="govuk-body">Some employees find it helpful to make a short visit before their first day back at work. It’s a way to meet colleagues again, without the pressure of starting work.</p>

      <!--
        What to do in the first week   
      -->

      <h2 class="govuk-heading-m">What to do in the first week</h2>

      <p class="govuk-body">Tell your employee about any changes which affect their work. For example, tell them about staff who have joined or left, or new ways of doing things. This meeting will help your employee feel prepared to do their job again.</p>

      <p class="govuk-body">Some employees find it useful to have a ‘buddy’ when they return. A buddy is a trusted colleague who can answer questions and help them settle in.</p>

      <!--
        Keep talking with your employee  
      -->

      <h2 class="govuk-heading-m">Keep talking with your employee</h2>

      <p class="govuk-body">Have regular meetings with your employee when they are back at work, to check they have the right support.</p>

      <p class="govuk-body">Ask if their disability or health condition is affecting them the same way, or getting better or worse. You might need to make different adjustments to their work or workplace.</p>

      <p class="govuk-body">You might find it helpful to hire an occupational health provider to assess your situation and give you practical steps to take together with your employee. Vocational rehabilitation specialists also provide help with returning to work.</p>

      <p class="govuk-body">You can find information on the <a href="https://www.acas.org.uk/using-occupational-health-at-work">ACAS website</a> about using occupational health at work. You can also find out more about occupational health and find a provider:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>at <a href="https://www.som.org.uk/work-and-health/information-employers">The Society of Occupational Medicine</a></li>
        <li>at the <a href="https://vrassociationuk.com">Vocational Rehabilitation Association</a></li>
        <li>at the <a href="https://www.seqohs.org/CMS/Page.aspx?PageId=119">Safe Effective Quality Occupational Health Service (SEQOHS)</a></li>
        <li>at the <a href="https://cohpa.org">Commercial Occupational Health Providers’ Association (COHPA)</a></li>
        <li>at the <a href="https://www.nhshealthatwork.co.uk">NHS Health and Work Network</a></li>
        <li>by contacting any other provider directly</li>
      </ul>

      <br><br>

      {{ govukButton({
        text: "Continue",
        href: "sum-2"
      }) }}
      
    </div>
  </div>

{% endblock %}
