
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Are you confident communicating with your employee while they are off sick?
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST">

      {{ govukBackLink({
        text: "Back",
        href: "have-you-contacted-employee"
      }) }}

      <span class="govuk-caption-xl">Employee absent due to sickness: what you need to do</span>

      {{ govukRadios({
        idPrefix: "confidentCommunicatingWithEmployeeB",
        name: "confidentCommunicatingWithEmployeeB",
        value: data['confidentCommunicatingWithEmployeeB'],
        fieldset: {
          legend: {
            text: "Are you confident communicating with your employee while they are off sick?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: data['confidentCommunicatingWithEmployeeB'] === 'Yes'
          },
          {
            value: "No~/sprint-3/prototype-B/does-employee-need-changes",
            text: "No",
            checked: data['confidentCommunicatingWithEmployeeB'] === 'No'
          },
          {
            value: "Not sure",
            text: "Not sure",
            checked: data['confidentCommunicatingWithEmployeeB'] === 'Not sure'
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>
    </div>
  </div>

{% endblock %}
