{% extends "layout.html" %}

{% block pageTitle %}
Summary of what you should do {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <a href="" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>

        <h1 class="govuk-heading-xl">Summary of what you should do</h1>

        <p class="govuk-body-l">Based on your answers, this is a summary of the guidance you’ve seen. You might find it useful to save or print this page.</p>

        {% if (data['staQ2'] == 'stillWorking') or (data['estQ3'] == 'yesToldMe') %}
          EST-G4
        {% elif data['estQ3'] == 'notToldMe' %}
          EST-G5
        {% elif data['estQ3'] == 'notAsked' %}
          COM-G6
        {% endif %}

        {% if data['estQ6'] == 'yes' %}
          EST-G3
        {% endif %}

        {% if (data['daysEmployeeOffSick'] >= '4') and (data['daysEmployeeOffSick'] <= '7') %}
          EST-G2
        {% else %}
          EST-G1
        {% endif %}

        {% if data['comQ1'] == 'yes' %}
          COM-G1
        {% endif %}

        ALWAYS PRINT REA-G1
        ALWAYS PRINT REA-G2

        {% if data['reaQ1'] == 'no' %}
          REA-G3
        {% else %}
          REA-G4
        {% endif %}

        {% if data['reaQ2'] == 'yes' %}
          REA-G5
        {% else %}
          REA-G6
        {% endif %}

        {% if data['adjQ3'] == 'yes' %}
          FIN-G1
        {% endif %}

        {% if (data['adjQ4'] == 'yes') or (data['adjQ2'] == 'notSure') %}
          FIN-G1
        {% endif %}

        {% if (data['staQ2'] == 'stillWorking') and (data['adjQ2'] == 'no') and (data['adjQ4'] == 'no') %}
          DIS-G1
        {% endif %}

        {% if (data['adjQ2'] == 'no') and (data['adjQ4'] == 'no') %}
          DIS-G2
        {% endif %}

        {% if (data['adjQ2'] == 'yes') and (data['estQ6'] == 'yes') %}
          REA-G5
        {% else %}
          RET-G7
        {% endif %}

        {% if data['adjQ2'] == 'no' %}
          
        {% else %}
          ADJ-G10
        {% endif %}
        
    </div>
  </div>

{% endblock %}


