
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Prototype
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      
      <h2 class="govuk-heading-m">Sprint 3</h2>

      <p><a href="sprint-3/gone-off-work/prototype-A/start-now">Employee gone off work - Prototype A</a></p>
      
      <p><a href="sprint-3/gone-off-work/prototype-B/start-now">Employee gone off work - Prototype B</a></p>

      <p><a href="sprint-3/disclose-condition/start-now">Employee discloses condition</a></p>

      <!-- test 3 -->
      
    </div>
  </div>

{% endblock %}
